.vt-menu{
    height: 100%;
    list-style: none;
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #000;
    background: #fff;
    padding: 0;
    margin: 0;
}
.vt-menu-dark {
    color: #fff;
    background: #000;
}

.vt-menu-horizontal {
    height: 100%;
    list-style: none;
}